@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Comfortaa", cursive;
}

@-webkit-keyframes colorchange {
  0% {
    color: #ffffff;
  }
  20% {
    color: #cccccc;
  }
  40% {
    color: #999999;
  }
  60% {
    color: #666666;
  }
  80% {
    color: #333333;
  }
  100% {
    color: #ffffff;
  }
}

@keyframes colorchange {
  0% {
    color: #ffffff;
  }
  20% {
    color: #cccccc;
  }
  40% {
    color: #999999;
  }
  60% {
    color: #666666;
  }
  80% {
    color: #333333;
  }
  100% {
    color: #ffffff;
  }
}
.hex-colors__container {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hex-colors__title {
  font-size: 2rem;
  text-transform: uppercase;
  -webkit-animation: colorchange 5s infinite alternate;
          animation: colorchange 5s infinite alternate;
  margin-bottom: 100px;
}
.hex-colors__subtitle {
  font-size: 2rem;
  -webkit-animation: colorchange 5s infinite alternate;
          animation: colorchange 5s infinite alternate;
  text-transform: lowercase;
  margin-bottom: 70px;
}
.hex-colors__button {
  font-size: 1.2rem;
  width: 150px;
  height: 50px;
  color: #ffffff;
  background-color: #000;
  border-color: #f8f9fa;
  text-align: center;
  vertical-align: middle;
}